body {
  font-family: "source sans pro", sans-serif !important;
}

/*logo and heading*/
.log h2 {
  color: #030432;
  font-size: 34px;
  margin-top: 13px;
}

.login ul {
  margin-top: 20px;
}

.login ul li {
  display: inline-block;
  list-style: none;
  margin-left: 22px;
  font-size: 20px;
  text-decoration: none;
  color: #2d2f93;
  font-weight: bold;
}

.login ul li :hover {
  text-decoration: none;
  color: #030432;
}

/*nav bar*/
.navbar {
  margin-top: 60px;
  background-color: #efeff1;
  text-align: center;
  border: none;
  transition: all 0.3s;
}

/*links */

.navbar-inverse .navbar-nav > li > a {
  color: #2d2f93;
  font-size: 17px;
  font-weight: 600;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #030432;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #030432;
  margin-bottom: 10px;
}
.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 0px;
  text-align: center;
  border-radius: 6px;
  margin: 8px auto;
  margin-bottom: 0px;
  font-size: 15px;
}

/*Heading*/
.heading {
  margin-top: 60px;
  background-image: url("../image/heading.jpg");
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.heading .word {
  position: absolute;
  top: 40%;
  left: 17%;
}
.heading .word h6,
.heading .word p {
  font-size: 35px;
  color: #030432;
}
@media (min-width: 1200px) {
  .collapse ul {
    position: relative;
    right: 350px;
  }
}
