body {
font-family: "source sans pro", sans-serif !important;
height: 2000px;
}


/*Start navbar*/

.navbar{
  background-color: #FFF;
  border: none;
 }

.navbar-inverse .navbar-nav > li > a {
  color: black;
 }

.navbar-inverse .navbar-nav > li > a:hover {
  color: #0779e4;
}

.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 0px;
  text-align: center;
  border-radius: 3px;
  margin: 8px auto;
  margin-bottom: 0px;
  font-size: 15px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
background-color:#0779e4 ;
}
.collapse .links-contanier{
text-align: center;
position: relative;
left: 30%;
}

.collapse .loginandregister{
}
/*Heading*/
.heading {
margin-top: 51px;
background-image: url("../image/heading.jpg");
height: 500px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.heading .word {
position: absolute;
top: 40%;
left: 17%;
}
.heading .word h6,
.heading .word p {
font-size: 35px;
color: #030432;
}
.heading .word p{
max-width: 400px;
}

/*Search bar*/
.search-dropdown{
min-width: 90%;
min-height: 40px;
background-color: #fff;
display: block;
padding: 20px;
border-radius: 40px;
transition: all .6s;
text-align: center;
border: 1px solid #030432;
position: absolute;
top: 88%;

}
.search-dropdown .search{
border-radius: 30px;
background-color: #fff;
margin-top: -4px;
}
.search-dropdown .search input{
outline: none;
background-color: unset;
border: none;
min-width: 100%;
padding: 10px;
}
.search-dropdown .search input::-webkit-input-placeholder{
color: black;
padding: 4px;
font-size: 15px;
}
.search-dropdown .search input:focus::-webkit-input-placeholder {
opacity: 0;
transition: 0.7s;
}

/*Drop down button*/
.search-dropdown .dropdown .btn-default{
color: black;
background-color: #FFF;
transition: all .6s;

}
.search-dropdown .dropdown .btn-default:focus{
background-color: #0779e4;
color: #FFF;
font-weight: bold;
transition: all .6s;

}
/*Dropmeanu list*/
.search-dropdown .dropdown-menu{
background-color: #FFF;
outline: none;
margin-top: 22px;
margin-left: -12px; 
transition: all .6s;

}
/*Dropmeanu list links*/
.dropdown-menu > li > a{
color: black;
}

.dropdown-menu > li > a:hover{
  background-color: #0779e4;
  margin-left: 9px;
  color: #FFF;
  transition: all .6s;
}


/*
//Dropmeanu list Arrow
.search-dropdown .dropdown-menu:before {
content: "";
width: 0;
height: 0;
position: absolute;
right: 43%;
top:-15%;
border-style: solid;
border-width: 10px;
border-color: transparent transparent #030432 transparent ;
}
*/
/*Dropmeanu list divider*/
.dropdown-menu .divider{
background-color: #0779e4;
}

/*search Button*/ 
.search-btn .btn{
background-color: #0779e4;
}

/*Welcome section*/
.welcome {
  margin-top: 80px;
  max-height: 500px;
 }

.welcome .welcome-text h1{
   color: #0779e4;
}

.welcome .welcome-text p{
  line-height: 2.3em;
  color: #666;
}

.welcome .welcome-img img{
  width: 100%;
  max-height: 490px;
}


/*************************************************************************/
