
/* mobile screen 567px an less */

@media (max-width: 567px) {

  /*start home pages*/
    /*heading*/
  .main_heding .heading_title{
    font-size: 24px;
  }
    /*statistic section*/
  @media (max-width: 567px) {
    .statistics .shap img{
      display: none
    }
  }

  /*end home pages*/

  /*start about pages*/
    /*about company section*/
  @media (max-width: 567px) {
    #about_company .about_img_wrapper .about_shap{
        display: none;
    }
  }
  /*end about pages*/
  
}
