

/* navbar */

.image-user {
    width: 40px;
    border-radius: 50%;
}


/*end navbar*/


/*Dashboard content */

.photo-user {
    width: 100px;
    border: 1px solid gray;
    padding: 5px;
}

.photo-camera {
    position: absolute;
    left: 50%;
    bottom: 54%;
    font-size: 36px;
    cursor: pointer;
}


/*End Dashboard content */
